*.zip

.ipynb_checkpoints/
train/
train2/
test/
pre-train/
pre-test/
*.h5

clean-train/
out_train/

pending-clean/
clean-train/

pics/

model.png

outliers/
*.csv

Untitled.ipynb
find_outlier_debug.ipynb
kaggle.json
model-table.gv
model-table.gv.pdf
model_debug.ipynb
sample_submission.csv
